:root {
    --light-gray: #444;
    --light-ocean-green: #0c997823;
    --light-red: #facdcd;
    --light-green: #d1facd;
    --middle-gray: #bababa;
    --ocean-green: #09755c;
    --white: #ccc;
    --dark-ocean-green: #0c755d;
    --dark-gray: #f0f0f0;
    --dark-red: #870f0f;
    --dark-green: #0f8713;
}