<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>WOW! Collection - Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:if="${design}=='dark'" th:href="@{/resources/css/root_dark.css}" rel="stylesheet" type="text/css" />
    <link th:if="${design}=='light'" th:href="@{/resources/css/root_light.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/resources/css/style_detail.css}" rel="stylesheet" type="text/css" />
</head>

<body>
    <header class="header">
        <div class="container" th:insert="fragment::min-header"></div>
    </header>
    <div class="container">
        <div class="row justify-content-center py-4">
            <div class="col-12 col-lg-9" id="set-of-tag-cards">
                <div th:if="${#httpServletRequest.getParameter('message')}" class="row justify-content-center">
                        <p class="message error-message" th:text="${#httpServletRequest.getParameter('message')}"></p>
                    </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-7">
                        <h2 class="title login-title">Registration</h2>
                        <form th:action="@{/registration}" method="post" th:object="${object}" class="form">
                           <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <div class="row my-3">
                                <div class="col-12">
                                    <input type="text" class="form-control registration-input" id="login" name="login" placeholder="Login *" required>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <input type="text" class="form-control registration-input" id="email" name="email" placeholder="Email address *" required>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <input type="password" class="form-control registration-input" id="password" name="password" placeholder="Password *" required>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <input type="password" class="form-control registration-input" id="repeatPassword" name="repeatPassword" placeholder="Confirm password *" required>
                                </div>
                            </div>
                            <div class="row">
                                <p class="message" id="message"></p>
                                <p class="message">* All fields is required</p>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <textarea class="form-control form-textarea registration-input" id="description" name="description" placeholder="If you want you can tell us about yourself..."></textarea>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-3 justify-content-center">
                                    <button type="submit" class="btn btn-submit btn-style">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 my-3 my-lg-0">
                <div th:replace="fragment::tag-cloud"></div>
            </div>
        </div>   
    </div>
    
    <template id="template-all-items">
        <div class="col-12 p-5">
            <div class="d-flex">
                <div class="photo"></div>
                <div class="details">
                    <h3 class="title details-title"><a href="" id="item-title"></a></h3>
                    <ul class="cards-tags" id="item-tags"></ul>
                </div>
            </div>
            <div class="description-block">
                <h3 class="title description-title">Description</h3>
                <p class="description-text" id="item-description"></p>
            </div>
        </div>
    </template>

    <template id="template-header">
        <h1 class="title common-title"></h1>
    </template>
    <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/resources/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/resources/js/home.js}"></script>
</body>

</html>
