<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="'WOW! Collection - '+${collection.name}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="row align-items-center" th:fragment="header">
        <div class="col-2 d-lg-none dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a th:href="@{/}">Main</a></li>
                <li><a class="all-items" href="">All items</a></li>
                <li><a class="all-collections" href="">All collections</a></li>
            </ul>
        </div>
        <div class="col-9 d-none d-lg-flex navigation">
            <a th:href="@{/}">Main</a>
            <a href="" class="all-items">All items</a>
            <a href="" class="all-collections">All collections</a>
        </div>
        <div class="col-10 col-lg-3 navigation">
            <form th:action="@{/search}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <button class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg></button>
                </div>
            </form>
        </div>
    </div>

    <div class="row navigation align-items-center" th:fragment="min-header">
        <div class="col-xxl-9 col-6 d-flex">
            <a th:href="@{/}">
                <span class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>Main
                </span>
            </a>
        </div>
        <div class="col-xxl-3 col-6">
            <form th:action="@{/search}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <button class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg></button>
                </div>
            </form>
        </div>
    </div>

    <div th:fragment="tag-cloud">
        <h2 class="title">Tag cloud</h2>
        <div class="tag-cloud d-flex justify-content-end flex-wrap">
            <th:block th:each="tag:${tags}">
                <a class="tag-ref" th:href="@{'/tags?id='+${tag.id}}" th:text="${tag.name}"></a>
            </th:block>
        </div>
    </div>
</body>

</html>
