<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="'WOW! Collection - '+${collection.name}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/root_light.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/style_detail.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header class="header">
        <div class="container" th:insert="fragment::header">
            <div class="row navigation align-items-center" th:fragment="header">
                <div class="col-9 d-flex align-items-center">
                    <a href="@{/}">
                        <span class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                            </svg>Main
                        </span>
                    </a>
                    <a href="@{/items/all}">All items</a>
                    <a href="@{/collections/all}">All collections</a>
                    <a href="">menu</a>
                </div>
                <div class="col-3">
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <button class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row py-4">
            <div class="col-8">
                <h2 class="title center-title">Add item</h2>
                <form th:action="@{/items/add}" method="post" th:object="${object}" class="form">
                    <input type="hidden" name="collection" th:value=${collection.id}>
                    <div class="row my-3">
                        <label for="name" class="col-4 col-form-label label-style">Item's title</label>
                        <div class="col-8">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="row my-3">
                        <label for="image" class="col-4 col-form-label label-style">Item's image</label>
                        <div class="col-8">
                            <input type="file" class="form-control" id="image" name="image">
                        </div>
                    </div>
                    <div class="row my-3">
                        <label for="description" class="col-4 col-form-label label-style">Item's description</label>
                        <div class="col-8">
                            <textarea type="text" class="form-control form-textarea" id="description" name="description"></textarea>
                        </div>
                    </div>
                    <fieldset>
                        <legend class="legend-title">Item's tags</legend>
                        <div class="row my-3">
                            <div class="col-4"></div>
                            <div class="col-8 d-flex flex-wrap">
                                <th:block th:each="tag:${tags}">
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" th:id="${tag.name+tag.id}" th:value="${tag.id}" th:name="tags">
                                            <label class="form-check-label" th:for="${tag.name+tag.id}" th:text="${tag.name}"></label>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="legend-title">Item's specification</legend>
                        <div class="row my-3">
                                <th:block th:each="field:${fields}" th:if="${field.title}">
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input th:if="${editCollection} AND ${editCollection.fields.^[classField == '__${field.classField}__']}" class="form-check-input" type="checkbox" th:id="${field.classField}" th:value="${field.id}" th:name="fields" checked>
                                            <input th:unless="${editCollection} OR ${editCollection.fields.^[classField == '__${field.classField}__']}" class="form-check-input" type="checkbox" th:id="${field.classField}" th:value="${field.id}" th:name="fields">
                                            <label class="form-check-label" th:for="${field.classField}" th:text="${field.title}"></label>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                    </fieldset>
                    <div class="row justify-content-center">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-submit btn-style">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <div class="row align-items-center">
                    <div class="col-6 d-flex justify-content-end">
                        <a th:href="@{/collection/create}" class="btn btn-submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-6">
                        <h2 class="title">My collections</h2>
                    </div>
                </div>
                <ul class="menu-collections">
                    <th:block th:each="menu:${user.collections}">
                        <li><a th:href="@{'/collection/'+${menu.name}+'?id='+${menu.id}}" th:text="${menu.name}"></a></li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
    <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
    <script src="../../resources/js/jquery-3.6.0.min.js"></script>
    <script src="../../resources/js/home.js"></script>
</body>

</html>
