<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>WOW! Collection</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/resources/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/resources/css/style_items_card.css}" rel="stylesheet" type="text/css" />
</head>

<body>
    <header class="header" id="header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="search-field">Search</div>
                <div class="search-icon"></div>
            </div>
            <div class="row justify-content-center">
                <div class="card card-1">
                    <h2 class="collection-title">Collection</h2>
                </div>
                <div class="card card-2">
                    <h2 class="collection-title">Collection</h2>
                </div>
                <div class="card card-3">
                    <h2 class="collection-title">Collection</h2>
                </div>
            </div>
            <aside class="side-bar">
                <ul class="tags">
                    <th:block th:each="tag:${tags}">
                        <li><a th:href="@{/items?tags=(${tag.id})}" th:text="${tag.name}"></a></li>
                    </th:block>
                </ul>
            </aside>
            <nav>
                <div class="row justify-content-around navigation">
                    <div class="col-8">
                        <a th:href="@{/items/all}" class="navigation-item" id="all-items">All items</a>
                        <a th:href="@{/collection/all}" class="navigation-item" id="all-collections">All collection</a>
                        <a th:href="@{/collection/best}" class="navigation-item" id="menu">TOP collection</a>
                        <a th:href="@{/collection/create}" class="navigation-item" id="">Create collection</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()" class="col-3">
                        <a th:href="@{/login}" class="sign-in navigation-item">Sign in</a>
                        <a th:href="@{/registration}" class="ref-create-account">Create account</a>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="col-3">
                        <a th:href="@{/registration}" class="ref-create-account">Profile</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8" id="parent">

            </div>
        </div>
    </div>

    <template id="template-all-items">
        <div class="item-card" id="card">
            <div class="photo-block">
                <div class="photo"></div>
                <div class="details">
                    <h2 class="title"><a href="" id="title"></a></h2>
                    <ul class="item-tags" id="tags"></ul>
                </div>
            </div>
            <div class="description-block">
                <h3 class="title description-title">Description</h3>
                <p class="description-text" id="description"></p>
            </div>
        </div>
    </template>

    <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/resources/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/resources/js/home.js}"></script>
</body>

</html>
