<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>WOW! Collection</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:if="${design}=='dark'" th:href="@{/resources/css/root_dark.css}" rel="stylesheet" type="text/css" />
    <link th:if="${design}=='light'" th:href="@{/resources/css/root_light.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/resources/css/style_detail.css}" rel="stylesheet" type="text/css" />
</head>

<body>
    <header class="header">
        <div class="container" th:insert="fragment::header"></div>
    </header>
    <div class="container">
        <div class="row justify-content-center py-4">
            <div class="col-xxl-9 col-lg-8 col-md-7 col-sm-5 col-12">
                <div class="row d-flex d-sm-block d-lg-flex justify-content-center my-4">
                    <div class="card">
                        <div class="card-details">
                            <h2 class="title details-title best-collection-title"><a th:href="@{'/collection/'+${commentCollection.name}+'?id='+${commentCollection.id}}" th:text="${commentCollection.name}"></a></h2>
                            <p class="collection-achievement" th:text="${#arrays.length(commentCollection.comments)}+' comments'"></p>
                            <div class="collection-description" th:text="${commentCollection.description}"></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-details">
                            <h2 class="title details-title best-collection-title"><a th:href="@{'/collection/'+${likeCollection.name}+'?id='+${likeCollection.id}}" th:text="${likeCollection.name}"></a></h2>
                            <p class="collection-achievement" th:text="${#arrays.length(likeCollection.likes)}+' likes'"></p>
                            <div class="collection-description" th:text="${likeCollection.description}"></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-details">
                            <h2 class="title details-title best-collection-title"><a th:href="@{'/collection/'+${largeCollection.name}+'?id='+${largeCollection.id}}" th:text="${largeCollection.name}"></a></h2>
                            <p class="collection-achievement" th:text="${#arrays.length(largeCollection.items)}+' items'"></p>
                            <div class="collection-description" th:text="${largeCollection.description}"></div>
                        </div>
                    </div>
                </div>
                <div class="row" id="set-of-cards">

                </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-md-5 col-sm-7 col-9">
                <div class="login-block mb-5">
                    <div sec:authorize="!isAuthenticated()">
                        <h2 class="title login-title">Login</h2>
                        <div class="row p-0">
                            <div th:if="${#httpServletRequest.getParameter('error')}" class="col-12 d-flex justify-content-center">
                                <p class="message login-message error-message">Invalid username or password</p>
                            </div>
                            <div th:if="${#httpServletRequest.getParameter('logout')}" class="col-12 d-flex justify-content-center">
                                <p class="message login-message success-message">Success log out</p>
                            </div>
                        </div>
                        <form th:action="@{/login}" method="post" th:object="${object}" class="form">
                            <div class="row my-3">
                                <div class="col-12">
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-between">
                                    <button type="submit" class="btn btn-submit btn-style">Sign in</button>
                                    <a th:href="@{/registration}" class="btn btn-submit btn-style">Registration</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <div class="row justify-content-center">
                            <div class="photo-profile mb-5"></div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between">
                                <a th:href="@{/user/profile}" class="btn btn-submit btn-style">My profile</a>
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" class="btn btn-submit btn-style">
                                    <span class="d-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
</svg>Sign out
                                    </span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="fragment::tag-cloud"></div>
            </div>
        </div>
    </div>


    <template id="template-all-items">
        <div class="col-12">
            <div class="d-flex">
                <div class="photo"></div>
                <div class="details">
                    <h3 class="title details-title"><a href="" id="item-title"></a></h3>
                    <ul class="cards-tags" id="item-tags"></ul>
                </div>
            </div>
            <div class="description-block">
                <h3 class="title description-title">Description</h3>
                <p class="description-text" id="item-description"></p>
            </div>
        </div>
    </template>

    <template id="template-header">
        <h1 class="title common-title"></h1>
    </template>

    <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/resources/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/resources/js/home.js}"></script>
</body>

</html>
